<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Resources Website</title>

    <!-- Meta Viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

    <!-- Meta description and keywords -->
    <meta name="description" content="Resources" />
    <meta name="keywords" content="Resources" />

    <!-- Shortcut icons And Apple touch icon -->
    <link rel="shortcut icon" href="<%=APP_STATICS_PATH %>/images/logo.png" />
    <link rel="apple-touch-icon" href="<%=APP_STATICS_PATH %>/images/logo.png" />
    <link rel="icon" href="<%=APP_STATICS_PATH %>/images/logo.png" type="image/x-icon" />

    <!-- CSS -->
    <link rel="stylesheet" href="<%=APP_STATICS_PATH %>/bootstrap-v5.1.3/css/bootstrap.min.css" />
    <link rel="stylesheet" href="<%=APP_STATICS_PATH %>/fontawesome-free-6.0.0-beta3-web/css/all.css" />

    <link rel="stylesheet" href="<%=APP_STATICS_PATH %>/js/libs/prismjs/prism.css" />
    <link rel="stylesheet" href="<%=APP_STATICS_PATH %>/css/main.css" />
  </head>

  <body>
    <!-- Components -->
    <div id="__components_list" class="ease-color">
      <div class="main-panel" name="main-panels">
        <div style="margin-top: 200px">
          <div class="" style="margin-top: 10px; text-align: center">
            <div>
              <img src="<%=APP_STATICS_PATH %>/images/linxiaozhou.png" draggable="false" style="height: 100px; width: 100px; border-radius: 1000px" />
            </div>
            <div style="margin-top: 10px; font-size: 1.8em; font-weight: lighter">Resources</div>
            <div style="margin-top: 4px; font-weight: lighter" class="">Powered by linxiaozhou.com</div>
          </div>
        </div>
      </div>
    </div>

    <script>
      const APP_ROUTE = "<%=APP_ROUTE %>";
      const APP_STATICS_PATH = "<%=APP_STATICS_PATH %>";
      const APP_BOOKS_PATH = "<%=APP_BOOKS_PATH %>";
      const APP_ARTS_PATH = "<%=APP_ARTS_PATH %>";
    </script>

    <!-- Libs -->
    <script src="<%=APP_STATICS_PATH %>/js/libs/jquery.min.js"></script>
    <script src="<%=APP_STATICS_PATH %>/bootstrap-v5.1.3/js/bootstrap.min.js"></script>
    <script src="<%=APP_STATICS_PATH %>/js/libs/dayjs.min.js"></script>
    <script src="<%=APP_STATICS_PATH %>/js/libs/axios.min.js"></script>
    <script src="<%=APP_STATICS_PATH %>/js/libs/marked.min.js"></script>
    <script src="<%=APP_STATICS_PATH %>/js/libs/prismjs/prism.js"></script>

    <!-- Commons -->
    <script src="<%=APP_STATICS_PATH %>/js/common.js"></script>
    <script src="<%=APP_STATICS_PATH %>/js/pages/base.js"></script>
    <script src="<%=APP_STATICS_PATH %>/js/pages/home.js"></script>
    <script src="<%=APP_STATICS_PATH %>/js/index.js"></script>
  </body>
</html>
